<p id="notice"><%= notice %></p>

<!-- <h1>Listing Images</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

   <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image_tag image.asset.url(:medium) %></td>
        <td><%= link_to 'Show', image %></td>

        <% if current_user == image.user %>
          <td><%= link_to 'Edit', edit_image_path(image) %></td>
          <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br> -->

<% if user_signed_in? %>
  <%= link_to 'New Image', new_image_path %>
<% end %>


<div id="image_gallery" class="justified-gallery">
  <% @images.each do |img| %>
    <%= link_to image_tag(img.asset.url(:medium)), img.asset.url, "data-lightbox" => "gallery", "data-title" => "<a href=/images/#{img.id}>#{img.title}</a>" %>
  <% end %>
  <%= link_to image_tag('/imgs/plus.png'), new_image_path %>
</div>
<!-- '<span class="glyphicon glyphicon-plus">'.html_safe, -->
